/* colors
coral: #ff5458
dark-coral: #DB4B4F;
white: #fff
red: #da1f26
yellow: #ee8b49
grey-lighter: #b1b1b1
grey-light: #929292
grey-charcoal: #383d46
grey-dark: #1d1c30
 */
html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Abel', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  color: #1d1c30;
  background-size: 80px 80px;
  background-image: linear-gradient(to right, rgba(1,1,1,.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(1,1,1,.05) 1px, transparent 1px);
  height: 100%;
  width: 100%;
}

a {
  color: #fff;
}

a:hover, a:active {
  color: #b1b1b1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  color: #1d1c30;
}

h1 {
  font-size: 6rem;
  color: #fff;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

button {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

section {
  margin: 0 auto;
}

.bg-coral {
  background-color: #DB4B4F;
}

nav {
  height: 80px;
}

.navbar-brand > img {
  max-height: 40px;
  width: auto;
  padding-left: 2rem; 
}

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: 100;
  font-family: 'Rajdhani';
  font-size: 1.8rem;
  padding-right: 3rem;
  color: rgba(255,255,255, .8);
}

.navbar-subscribe {
  padding-left: 2.5rem;
  border: 1px solid #fff;
}

.jumbo {
  padding: 5rem 0 0;
  margin-bottom: 10rem;
}
.jumbo-decoration {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 130%;
    z-index: 0;
    /* set height to pixels if you want angle to change with screen width */
}

.jumbo-description {
  line-height: 1.5;
  padding: 2rem 0;
  color: #fff;
}

.learn-more {
  background: #DB4B4F;
  border: 1px solid #fff;
  color: #fff;
  padding: 1rem 4rem;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
}

.learn-more:hover {
  background: #fff;
  color: #DB4B4F;
  border: 1px solid #DB4B4F;
  text-decoration: none;
}

.sign-up {
  background: #fff;
  border: 1px solid #fff;
  color: #DB4B4F;
  padding: 1rem 4rem;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
}

.sign-up:hover {
  background: #DB4B4F;
  color: #fff;
  text-decoration: none;
}

.size-images {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.size-images-editor {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.section-description {
  line-height: 1.5;
  max-width: 90%;
}

.team-card {
  background-color: #fff;
  margin: 5rem 1rem;
  padding: 5rem;
}

.team-card > h2 {
  font-weight: 400;
}
.team-card > p {
  padding: 2rem 0;
}

.team-card > a > img {
  height: 60px;
  width: auto;
}

.coral-text {
  color: #DB4B4F;
}

.subscribe-box {
  text-align: center;
}

.subscribe-box > h2 {
  text-align: center;
  padding-top: 3rem;
  color: #383d46;
}

.subscribe-box > h3 {
  text-align: center;
  padding: 2rem 0;
  font-weight: 300;
  color: #929292;
}


.subscribe-button {
  display: block;
  margin: 0 auto;
  background: #DB4B4F;
  border: 1px solid #fff;
  color: #fff;
  padding: 1rem 4rem;
  margin-bottom: 2rem;
}

.subscribe-button[disabled] {
  background: #DB4B4F77;
}

.subscribe-input {
  min-width: 250px;
  width: 60%;
  height: 5rem;
  margin: 2rem 1rem;
  border: 1px solid #929292;
  color: #929292;
  padding-left: 1rem;
}

/* Customize the label (the container) */
.subscribe-container {
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: 1.2rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.subscribe-container input {
  position: absolute;
  display: none;
  opacity: 0;
  cursor: pointer;
}
.subscribe-container span {
  padding-left: 3rem;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.subscribe-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.subscribe-container input:checked ~ .checkmark {
  background-color: #DB4B4F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.subscribe-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.subscribe-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.privacy-link {
  color: #1d1c30;
}

footer {
  background-color: #f7f7f7;
}

.footer-logo {
  max-height: 35px;
  padding: 0 2rem;
}

.footer-text {
  font-size: 1.4rem;
  color: #1d1c30;
}

.modal-image {
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 992px) {
  .container {
      max-width: 1060px;
  }
  .one {
    margin-top: 5rem;
  }
}
@media(max-width: 768px) {
  nav {
    height: 40px;
  }
  div{
    text-align: center;
  }
  .navbar-brand > img {
    margin-top: 1rem;
    padding: .5rem;
    max-height: 30px;
    width: auto;
  }
  .navbar-nav {
    background: #ffffffbb;
    color: #DB4B4F;
    width: 100%; 
    z-index: 100;
  }
  .collapsing {
    margin-right: -2.5rem;
  }
  .show {
    margin-right: -2.5rem;
  }
  .navbar-collapse {
    z-index: 999992;
  
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #DB4B4F;
    text-align: right;
    z-index: 100;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .8)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
  }
  .navbar-subscribe {
    padding-left: 0;
    border: none;
  }
  .jumbo {
    background: #DB4B4F;
    text-align: center;
    margin-bottom: 0;
  }
  .jumbo-picture {
    display: none;
  }
  .jumbo-decoration {
    display: none;
  }
  .jumbo-title {
    font-size: 4.2rem;
  }
  .jumbo-description {
    font-size: 1.8rem;
  }
  .sign-up {
    display: block;
    margin-bottom: 2rem;
  }
  .learn-more {
    display: block;
    margin-bottom: 2rem;
  }
  .section-title {
    margin-top: 3rem;
  }
  .section-description {
    max-width: 100%;
    padding: 0 1.5rem;
  }
  .one {
    order: 2;
  }
  .two {
    order: 1;
  }
  .last-image {
    margin: -4rem 0;
    margin-bottom: 0;
  }
  .subscribe-input {
    text-align: center;
    padding-left: 0;
  }
  .size-images {
    margin-bottom: 1rem;
    max-width: 400px;
  }
  .team-holder {
    padding: 0;
  }
  .team-card {
    margin: 1rem auto;
    padding: 3rem;
  }
  .team-title {
    margin-top: 2rem;
  }
  .footer-logo {
    max-height: 20px;
    padding: 0;
  }
  .footer-logo-ng {
    display: none;
  }

}